chardet==2.3.0
Click==7.0
command-not-found==0.3
Flask==1.0.2
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.10
language-selector==0.1
MarkupSafe==1.1.0
pdfkit==0.6.1
pygobject==3.20.0
python-apt==1.1.0b1
requests==2.9.1
six==1.10.0
ssh-import-id==5.5
ufw==0.35
urllib3==1.13.1
virtualenv==15.0.1
Werkzeug==0.14.1
