<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Export PDF DEMO</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <form role="form" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" 
                       placeholder="" pattern=".{0}|.{3,10}" required title="Either 0 OR (3 to 10 chars)">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" 
                       placeholder="" pattern=".{0}|.{3,10}" required title="Either 0 OR (3 to 10 chars)">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" 
                       placeholder="" required title="Either email">
            </div>
            <button type="submit" class="btn btn-primary btn-block">submit</button>
        </form>
    </div>
</div>   
</body>
</html>
